.app {
  background: url('./assets/bg.jpg') no-repeat black;
  background-size: cover;
  background-position-y: center;
  height: 100vh;
  display: flex;
  justify-content: space-between;

  .card-area {
    padding-top: 50px;
    width: 50%;
    
    .row {
      display: flex;
      justify-content: space-around;
      padding: 50px;
    }
  }

  .info-area {
    background: rgba(black, .7);
    width: 50%;
  }
}